/* CSS FILE FOR GABRIELLE'S PORTFOLIO */

* {
	box-sizing: border-box; /* makes it so that padding and margin is included in overall height and width of divs */
	padding: 0;
	margin: 0;
}

body{
	background-image: url(../Photos/background-image.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#header{
	text-align: center;
	background-color: white;
	
	height: 80px;
}

.nav{ /*targets the unordered list in the .header class */
	position: absolute;
	right: 5px;
	top: 25px;
}

.links li{
	display: inline-block;
}

#header a{
	display: block; /*Makes it so that the whole link area can be clicked on and not just the text. */
	text-decoration: none; /* gets rid of underline that shows on links */
	color: black;
	padding-right: 5px;
	font-family: 'BenchNine', sans-serif;
	font-size: 24px;
}

a.active{ /*makes active window bolder to indicate which one you're on*/
	font-weight: bolder;
}


.timeFrame{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #838584;
	font-weight: bolder;
	height: 10px;
	margin-top: 30px;
}


h1{
	font-family: 'Glegoo', sans-serif;
	font-size: 30px;
}

span h1{ /* Underline for Hello or h1. */
	border-bottom: 2px solid #E93E3E;
	width: 175px;
	line-height: 40px;
	margin-bottom: 10px;
}

.bigbox{
	//border: 2px solid black;
	display: flex;
	justify-content: center;
	margin-top: 25px;
	height: auto;
}


.littlebox{
	display: flex;
	flex-direction: column;
	width: 80%;
	//border: 2px solid red;
}

.littlebox ul{ 
	font-size: 16px;
	font-family: 'Glegoo', sans-serif;
	margin: 0px 55px;
}

.jobTitle{
	font-family: 'Glegoo', sans-serif;
	font-size: 24px;
	padding-top: 0; 
}

.Name{
	width:auto;
	height: auto;
	font-family: 'BenchNine', sans-serif;
	font-size: 60px;
	//color: #E93E3E;
	color: black;
	//border: 2px solid yellow;
}

footer{
	font-size: 20px;
	font-family: 'BenchNine', sans-serif;
	width: 100%;
	display: block;
	position: relative;
}

footer p{
	bottom: 0;
	right: 0;
 	position: absolute;
}

.discord{
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.contactMe {
	list-style: none;
}

.contactMe img{
	
	height: 50px;
	width: 50px;
}

.contactMe li{
	display: flex;
	align-items: center;
	//border: 2px solid blue;
}


.form{
	height: 150px;
	width: 500px;	
}

input{
	padding: 5px;
}

::placeholder{
	color: #E93E3E;
	opacity: 65%;
	font-weight: bolder;
}

@media (max-width: 960px){
	 #header a{
		display: none;
	}

	#header{
		display: flex;
		justify-content: center;
	}

	.nav{ /*targets the unordered list in the .header class */
		//border: 2px solid pink;
		top: 22px;
		position: relative; 
	}

	footer{
		text-align: center;
		text-size:  px;
	}

	.littlebox{
		width: 80%;
	}

	.form{
		max-width: 300px;
	}
}